.nav{
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        height: 8.1rem;
        align-items: center;
    }
    a{
        color: white;
        text-decoration: none;
    }
}

.red{
    background-color: red;
    min-height: 70vh;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
    min-height: 42rem;
}